
<div class="products_container">
	
	<% @products.each do |p| 

		p = p.as_json.to_hash

		name = p["name"]
		
		%>
		<% #hash %>
		<div class="product">
			<div class="product_header">
				<div class="product_img">
					<div class="img_box">
						<img src="http://www.dicasdenotebook.com.br/wp-content/uploads/2014/01/notebooks-positivo-300x300.jpg">
					</div>
				</div>
				<div class="product_name">
  					<h1><%= name %></h1>
				</div>
				<div class="product_buttons">
					<button class="product_button_aval product_like"><i class="material-icons">&#xE8DC;</i></button>
					<button class="product_button_aval product_dislike"><i class="material-icons">&#xE8DB;</i></button>
					<button class="product_expand"><i class="material-icons">&#xE5CF;</i></button>
				</div>
			</div>
			<div class="product_found_stores">
				<div class="stores_container">
					<% p["all_stores"].each do |s|
						s = s.as_json.to_hash

						next if s["available"] == false

						store = s["store"].titleize
						img_url = s["store"].downcase.delete("_")
						price = s["price"].round(2).to_s
						sku = s["sku"]
						url = s["url"]

					%>
						<div class="store">
							<div class="store_info">
								<div class="store_logo">
									<%= image_tag(
										"store_logo_#{img_url}.jpg",
										:alt => "#{store} logo",
										:title => "#{store} logo")
									%>
								</div>
								<div class="store_name"><%= store %></div>
							</div>
							<div class="store_product_price">R$ <%= price %></div>
							<div class="store_product_sku">cód. item: <%= sku %></div>
							<div class="store_link">
								<a href="<%= url %>">
									<button class="store_link_button">
										Abrir na loja <i class="material-icons">&#xE89E;</i>
									</button>
								</a>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

</div>